.admin-bar .fixed-top {
  top: 32px;
}

nav.navbar {
  transition: background-color .2s;
}

body.scrolled nav.navbar {
  background-color: theme-color('primary-dark');
}

body.single-post nav.navbar,
body.single-job nav.navbar,
body.blog nav.navbar,
body.archive nav.navbar,
body.category nav.navbar,
body.page-template-template-people nav.navbar,
body.page-template-template-quickstart nav.navbar {
  background-color: theme-color('primary-dark');
}

nav.navbar ul.navbar-nav {
  margin-top: 1rem;
  flex-direction: column;
  background-color: theme-color('primary-dark');
  padding: 1rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    flex-direction: row;
    background-color: transparent;
  }
}

nav.navbar ul.navbar-nav li {
  padding: 0.5rem;

  @include media-breakpoint-up(md) {
    padding: 0.5rem 1rem;
  }
}

nav.navbar ul.navbar-nav li a {
  color: theme-color('light');

  &:hover {
    text-decoration: none;
    color: theme-color('secondary');
  }
}

nav.navbar ul.navbar-nav li ul.sub-menu {
  display: none;
}

nav.navbar .btn {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: auto;
  }
}
