// Front Page
section.page-header-jumbotron .jumbotron {
  padding-top: 6rem;
  padding-bottom: 4rem;

  @include media-breakpoint-up(lg) {
    padding: 8rem 2rem;
  }
}

section.persona-type-jumbotron .jumbotron,
section.product-jumbotron .jumbotron,
section.front-page-jumbotron .jumbotron {
  padding-top: 6rem;
  padding-bottom: 4rem;

  @include media-breakpoint-up(lg) {
    padding: 12rem 4rem 8rem;
  }
}


section.front-page-jumbotron .jumbotron p.h1 {

  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }
}

section.persona-type-jumbotron .jumbotron p.h1 {
  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }
}

.drupalcon-logo-wrapper {
  position: relative;
}

.drupalcon-cta {
  position: relative;
  top: 0.25rem;
}
