// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.gform_wrapper h3.gform_title {
  display: none;
}

.gform_wrapper .gfield_checkbox li input,
.gform_wrapper .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gfield_radio li input[type=radio] {
  margin-top: 0px !important;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
  @include button-variant(theme-color('secondary'), theme-color('secondary'));
  @include button-size(1rem, 1rem, 1.1rem, 1, 0);
  display: block;
  width: 100%;
}

.gform_wrapper input[type="text"],
.gform_wrapper textarea {
  @include make-form-control();
  padding: 1rem !important;
  width: 100% !important; // Override Gravity Forms crazy class
  border-radius: 0;
}
