# Application
docroot/content/upgrade
docroot/content/uploads

# WordPress
docroot/.htaccess
docroot/wp-config.php

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
!vendor/.gitkeep

# Node Package Manager
node_modules

# DDEV
.ddev/docker-compose.yaml

.DS_Store
