# Application
docroot/app/uploads/*
docroot/app/upgrade/*
docroot/app/themes/twenty*
# docroot/app/themes/**/dist

#plugins
docroot/app/plugins/*
!docroot/app/plugins/gravityformspolls
!docroot/app/plugins/schema-premium
!docroot/app/plugins/wpremote

# WordPress
docroot/wp

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
/vendor

# Node
node_modules

# JetBrains
.idea

# Mac
.DS_Store
*.sql
/.docksal/docksal-local.env


