div.testimonial div.h4 p {
  line-height: 1.3;
}


.product__testimonial {
  .testimonial {
    &__image {
        width: 8rem !important;
        height: 8rem !important;
        margin-bottom: 2rem;
    }
  }
}
