.main-navigation {
  background-color: theme-color('primary-dark');
  display: flex;
  position: relative;
  width: 100%;

  &__logo {
    margin-right: 4rem;
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 2rem;
  }

  &__toggle {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: theme-color('primary-dark');
    z-index: 1000;
    margin-bottom: 0;
    list-style: none;
    padding: 4rem 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity $animate-duration-sm;


    @include media-breakpoint-up(md) {
      position: relative;
      display: flex;
      opacity: 1;
      pointer-events: all;
      background-color: transparent;
      display: inline-flex;
      padding: 0;
      top: 0.5rem;
    }

    li {
      font-family: $headings-font-family;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;

      @include media-breakpoint-up(md) {
        font-size: 1.125rem;
        margin-right: 2rem;
        padding-bottom: 0.75rem;

        ul.sub-menu {
          position: absolute;
          opacity: 0;
          pointer-events: all;
          padding-left: 0;
          border-radius: 0.25rem;

          &:hover {
            opacity: 1;
          }

          li {
            a {
              color: theme-color('primary');
            }
          }
        }

        &:hover {
          ul.sub-menu {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      a {
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }

      ul.sub-menu {
        list-style: none;
        margin-bottom: 1rem;
        padding-left: 0;

        @include media-breakpoint-up(md) {
          background-color: #fff;
          padding-left: 0;
          min-width: 12rem;
          top: 2.5rem;
          transition: opacity $animate-duration-sm, transform $animate-duration-sm;
          transform: translateY(1rem);
          box-shadow: $shadow;
        }

        li {
          font-size: 1.125rem;
          margin: 0;
          margin-left: 1rem;

          @include media-breakpoint-up(md) {
            padding: 0.75rem;
            line-height: 1;
            margin-left: 0;
            border-bottom: 1px solid #e7e7e7;
            transition: background-color $animate-duration-sm;
            border-radius: 0.25rem;

            &:first-of-type {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }

            &:last-of-type {
              border-bottom: none;
              border-top-right-radius: 0;
              border-top-left-radius: 0;
            }

            &:hover {
              color: theme-color('primary-light');
            }
          }

          a {
            color: $gray-500;

            @include media-breakpoint-up(lg) {
              color: theme-color('primary');
            }
          }
        }
      }
    }
  }
}

.main-navigation-toggle {
  position: absolute;
  z-index: 1005;
  right: 0.5rem;
  top: 1.25rem;

  @include media-breakpoint-up(lg) {
    right: 0.5rem;
    top: 0.375rem;
  }
}

.main-navigation-wrapper {
  @include media-breakpoint-up(md) {
    height: 6rem;
    width: 100%;
  }
}

.main-navigation-wrapper.is-open {
  .main-navigation__menu {
    opacity: 1;
    pointer-events: all;
  }
}

.main-navigation-wrapper.is-product {
  @include media-breakpoint-up(md) {
    height: 4rem;

    .main-navigation__logo {
      img {
        width: 8rem;
        position: relative;
        bottom: 0.5rem;
      }
    }

    .main-navigation__menu {
      opacity: 0;
      transform: translateY(-0.75rem);
      transition: opacity $animate-duration-sm, transform $animate-duration-sm;
    }

    &.is-open {
      .main-navigation__menu {
        opacity: 1;
        transform: translateY(0.375rem);
      }
    }
  }
}
