.widget.widget_categories,
.widget.widget_recent_entries {
    ul {
        list-style: none;
        padding-left: 0;

        li {
            text-decoration: none;
            font-size: 1.125rem;
        }
    }
}

.widget.widget_recent_entries ul li {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #d7d7d7;

    &:first-of-type {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 1px solid #d7d7d7;
    }
    
    .post-date {
        display: block;
        font-size: 1rem;
        color: theme-color('dark');
    }
}